################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemogitAction
/src/MyApp/bin/Debug/net8.0
/src/MyApp/obj
